*{
	margin: 0px;
	padding: 0px;
	font-family: arial;
}

body{
	background: black;
	color: white;
	margin: 10px;
}

.topContainer{
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.topContainer h1 {
	font-size: 65px;
	margin: 50px 20px 25px 20px;
}

.topContainer p, h2 {
	font-size: 1.2rem;
	font-weight: normal;
	margin: 25px 0px;
}

.topContainer h2 {
	font-size: 30px;
	color: lime;
}

.colorInput input::-webkit-color-swatch {  /*Swatch: A palette of active colors*/
	border-radius: 50%;
} 

.colorInput input[type="color"] {
	width: 80px;
	height: 80px;
	border: none;
	outline: none;
	border-radius: 50%;
}
